name: Build and test

permissions:
  contents: read

on:
  - push
  - pull_request

jobs:
  csds_client:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - name: Build
        run: make -C csds-client
      - name: Test
        run: make -C csds-client test
